<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="/public/css/main.css">
  <title>Document</title>
</head>
<body>
  
  <div class="container">
    <div class="row">
      <img class="col s12" src="/public/images/logo.png" alt="4 Coffee Logo">
    </div>
    <div class="row">
      <h1>Today's coffee order</h1>
      <ul class="collection">
        <li class="collection-item avatar">
          <img src="/public/images/alex.png" alt="" class="circle">
          <span class="title">Alex</span>
          <a href="" class="right">Confirm collection</a>
          <p>Cappuccino</p>
          <p class="pending right">Pending</p>
        </li>
      </ul>
      <p class="order-again"><a href="available-orders.html">Order another coffee</a></p>
    </div>
    <div class="row">
      <div class="col s12">
        <p>Adam Fenwick <a id="signout" class="right" href="/sign-out">Sign out</a></p>
      </div>
    </div>
  </div>
  
  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="/public/javascript/main.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>
</html> 